{% extends '::base.html.twig' %}

{% block title %}
    Listado de Ofertas de trabajo. {% if tag %}[{{ tag }}]{% endif %}
{% endblock %}

{% block body %}
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Empresa</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <th>
                        <a href="{{ path('sf_vlc_job', {url: job.url}) }}">{{ job.title }}</a>
                    </th>
                    <th>{{ job.dateCreated.format('d/m/Y') }}</th>
                    <th>{{ job.company }}</th>
                    <th>
                        {% for tag in job.tags %}
                            <a href="{{ path('sf_vlc_jobs_list_by_tag', {tag: tag.url}) }}">{{ tag.tag }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
